div.trending-coffees {
  height: fit-content;

  div.container {
    width: 90%;
    max-width: 980px;
    margin: auto;

    div.header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 3.4rem;

        span {
          display: block;

          &:last-child {
            color: #f15066;
          }
        }
      }

      a:hover {
        opacity: 0.8;
      }
    }

    div.cards-wrapper {
      display: grid;
      align-items: center;
      gap: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      margin-top: 50px;

      div.card-coffee {
        position: relative;
        cursor: pointer;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;

        transition: transform 0.3s ease-out;

        &:hover {
          transform: scale(1.05);
          opacity: 1;
        }

        img {
          width: 100%;
          height: 18rem;
          object-fit: cover;
          border-radius: 10px;
        }

        div.info {
          position: absolute;
          bottom: -10px;
          left: 10px;
          font-size: 1.6rem;
          font-weight: 500;
          background: $white;
          padding: 5px;
          border-radius: 10px;
          opacity: 0.8;
        }
      }
    }
  }
}
